@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');

.navbar-custom {
  margin-bottom: 25px;
}

.logoutbutton {
  margin-left: 15px;
}

.navbar-brand {
  font-family: 'Arsenal', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

